body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header {
    background-image: url(../img/admin/A2.jpg);
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}


nav {
    background-image: url(../img/backgound/background_5.png);
    background-size: cover;
    color: #0d0000;
    text-align: left;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
nav li{
    list-style: none;
    padding: 10px 10px 10px 30px;
    line-height: 15px;
    font-weight: 600;
    transition: 0.5s ease;
}
nav li:hover{
    color: red;
    transform: scale(1.05);
}
nav .content{
    background: #e1e1e1;
}
nav .content a{
    color: #0d0000;
    text-decoration: none;
}
nav .content a:hover{
    color: red;
}
nav .content a h5{
    padding-left: 30px;
    padding-right: 10px;
}

section {
    margin: 20px;
    display: none;
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px; /* Thêm padding để cách lề nội dung */
    box-sizing: border-box;
}


h2 {
    color: #333;
}


ul {
    list-style-type: none;
    padding: 0;
}


li {
    margin-bottom: 8px;
    cursor: pointer;
    transition: color 0.3s;
}


li:hover {
    color: #4caf50;
}


footer {
    background-image: url(../img/admin/A2.jpg);
    color: #fff;
    text-align: center;
    padding: 1em 0;
}


/* Áp dụng màu sắc chung cho các phần tử có id cụ thể */
#userForm,
#serviceForm,
#serviceList,
#car,
#carList,
#carForm,
#employee,
#employeeForm,
#employeeList,
#inventory,
#inventoryForm,
#inventorySummary,
#inventoryHistory,
#report,
#systemReport,
#notification,
#notificationResult,
#security,
#accountInfo,
#updateForm,
#changePasswordForm {
    background-color: #fff;
    color: #333;
    border: 1px solid #c10000;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px; /* Thêm margin dưới cho các phần tử */
}


button {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px;
}


button:hover {
    background-color: #45a049;
}


/* Highlight màu khi di chuột qua mục trong danh sách xe ô tô */
#carList li:hover {
    background-color: #e1e1e1;
}


/* Nút cho phần quản trị (admin) không bo tròn */
.admin-button {
    border-radius: 0;
}